:root {
  --bg: cyan;
  --bg_trans: rgba(0,255,255,0.3);
}

/* 
 *  base reset
 */

*,
*:before,
*:after { 
  box-sizing: border-box;
}
html, body { 
  min-height: 100%;
  min-width: 100%;
  margin: 0; 
  color: #131313;
}

body { background: var(--bg); }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* 
 *  checklist
 */
.checklist {
  margin: 15px 0; 
  padding: 0;
  font-family: monospace;
  list-style-type: none; 
}

/* 
 *  header
 */

/* issue more control over width of header */
.header { 
  position: relative;
  padding: 10px 0 10px 15px;
  margin: 0 0 20px 0;
  border-bottom: 3px solid #131313;
 }
.header-wrap {
  position: relative;
  margin: 0 auto;
}
.header-logo {
  display: inline-block;
  margin: 0 20px 0 0;
  font: 700 24px 'Montserrat', sans-serif;
  letter-spacing: -1px;
}
.header-nav {
  position: absolute;
  right: 15px;
  top: 6px;
}
.header-add,
.header-add--back,
.collect-submit,
.collect-delete,
.item-edit,
.list-edit,
.list-add {
  padding: 3px 4px 3px 6px;
  color: var(--bg);
  background: #131313;
  font: 700 14px 'Montserrat', sans-serif;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
} 
.header-add:active,
.header-add:focus {
  outline: none;
}
.header-add--back {
  padding: 1px 3px 1px 4px;
  border: 2px solid #131313;
  background: var(--bg);
  color: #131313;
}

/*
 * content-wrap
 */

.content-wrap {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

/*
 *  list
 */

.list,
.list--top {
  position: relative;
  width: 320px;
  padding: 5px 8px;
  margin: 0 auto 25px;
  border-radius: 2px;
  border: 3px solid #131313;
}

.list {
  box-shadow: 4px 4px 0 rgba(0,0,0,0.5);
}

.list--top {
  padding: 5px 0;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid #131313;
}

.list-name {
  color: #131313;
  margin: 0 0 2px 0;
  font: 700 24px/24px 'Montserrat', sans-serif;
}
.list-add,
.list-edit {
  position: absolute;
  top: 25px;
  right: 0;
  font: 600 12px 'Montserrat', sans-serif;
  width: 52px;
}
.list-add {
  right: 40px;
}
.list-edit {
  right: 0;
  width: 35px;
}
.list-link { 
  color: #131313;
  text-decoration: none; 
}
.list-inflect {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8px 8px 0 0;
  color: #131313;
  font: 400 30px/30px 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: right;
}
.list-notes {
  margin: -2px 0 0 0;
}
.list-total,
.list-count {
  margin: 0 2px 0 0;
  color: #131313;
  font: 700 14px 'Montserrat', sans-serif;
}
.list-seperator {
  padding: 0 3px 0 1px;
  font: 700 24px/14px 'Montserrat', sans-serif;
  vertical-align: -18%;
}
/*
 *  item
 */

.item {
  position: relative;
  width: 320px;
  padding: 0;
  margin: 0 auto 25px; 
  background: var(--bg_trans);
}
.item-img { 
  position: relative;
  width: 100%;
  margin: 0 0 10px 0;
  filter: brightness(2);
  filter: grayscale(1);
  z-index: -1;
}

.item-name,
.item-manufacturer,
.item-link{ 
  display: inline;
}

/* control width, change markup too */
.item-manufacturer { font: 700 16px/16px 'Montserrat', sans-serif; }
.item-manufacturer:after { content: ' -'; }
.item-name { font: 700 16px/16px 'Montserrat', sans-serif;  }

.item-link { 
  position: relative;
  float: right;
  display: inline-block;
  margin: 0 0 0 10px;
  color: #131313;
  font: 700 14px 'Montserrat', sans-serif;
  text-decoration: none;
}
/*.item-details { max-width: 180px; }*/
.item-price {
  position: absolute;
  right: 40px;
  bottom: 0;
  padding: 1px 5px 1px 4px;
  border-radius: 2px 0 0 2px;
  border: 3px solid #131313;
  border-right: none;
  background: var(--bg);
}
.item-buy {
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 1px 5px 1px 4px;
  color: var(--bg);
  background: #131313;
  border-radius: 0 2px 2px 0;
  border: 3px solid #131313;
  font: 700 14px 'Montserrat', sans-serif;
}
.item-link:active,
.item-edit:active,
.item-link:focus,
.item-edit:focus {
  outline: none;
}

.item-edit {
  opacity: 0.3;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #131313;
  background: var(--bg);
}

.item-edit:hover,
.item-edit:focus {
  opacity: 1;
}

/*
 *  collect
 */

.collect {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  margin: 0 auto 20px;
  transform: translate(0,0);
  top: 50%;
  transform: translateY(-50%);
  /*transform: translateY(-150%);*/ 
  /*transition: transform 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);*/
  z-index: 2;
}
/*.collect--move {
  transform: translate(0,0);
  top: 50%;
  transform: translateY(-50%);
}*/

.collect-label,
.collect-input {
  display: block;
  width: 100%;
}
.collect-label {
  padding: 1px 10px 5px 0;
  color: var(--bg);
  font: 700 10px 'Montserrat', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.collect-input {
  padding: 7px 10px;
  margin: 0 0 15px 0;
  border: none;
  border-radius: 2px;
  background: var(--bg);
  font: 400 16px 'Montserrat', sans-serif;
} 
.collect-label:last-child,
.collect-input:last-child {
  margin: 0;
}
.collect-input::placeholder {
  color: rgba(0,0,0,0.5);
  font: 400 16px 'Montserrat', sans-serif;
}
.collect-submit,
.collect-delete {
  float: right;
  margin: 0 auto;
  border: 2px solid var(--bg);
}

.collect-delete {
  float: left;
}

.collect-submit:hover,
.collect-submit:focus,
.collect-submit:active,
.collect-delete:hover,
.collect-delete:focus,
.collect-delete:active {
  border: none;
  padding: 5px 6px 5px 8px;
  background: var(--bg);
  color: #131313;
} 

.collect-input,
.collect-input:focus,
.collect-submit,
.collect-submit:focus {
  outline: none;
}

.collect-close {
  position: absolute;
  top: -25px;
  right: 0;
  padding: 0;
  background: #131313;
  border: none;
  color: var(--bg);
  font-weight: 800;
  cursor: pointer;
}

.collect-close:hover,
.collect-close:focus,
.collect-close:active {
  outline: none;
}

/* 
 *  modal 
 */

.modal:before {
  content: "";
  background: #131313;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*
 *  breakpoints
 */

@media screen and (min-width: 700px) {
  .list--top,
  .header-wrap,
  .content-wrap { width: 665px; }

  .list { margin: 0 0 25px 0; }

  .header { padding: 10px 0; }
  .header-nav { right: 0; }
}

@media screen and (min-width: 1100px) {
  .list--top,
  .header-wrap,
  .content-wrap { width: 1010px; }
}