        <img class="item-img" src="<%= img %>">
        <p class="item-manufacturer"><%= manufacturer %></p>
        <p class="item-name"><%= name %></p>
        <a class="item-link" href="<%= url %>" target="_blank"><span class="item-price">$<%= price %></span><span class="item-buy">buy</span></a>
        <a class="item-edit" href="#/item/<%= cid %>/edit">edit</a>

<!--        <img class="item-img" src="img/gr1.jpg">
            <p class="item-manufacturer">GORUCK</p>
            <p class="item-name">GR1</p>
            <a class="item-link" href="http://www.goruck.com/gr1-black-/p/GEAR-000066" target="_blank"><span class="item-price">$295</span><span class="item-buy">buy</span></a>
            <a class="item-edit" href="#item-modal">edit</a> -->