        <form class="collect cf">
          <label class="collect-label">Name</label>
          <input class="collect-input" name="name" type="text" placeholder="<%= name %>" autofocus>
          <label class="collect-label">Manufacturer</label>
          <input class="collect-input" name="manufacturer" type="text" placeholder="<%= manufacturer %>">
          <label class="collect-label">Price</label>
          <input class="collect-input" name="price" type="text" placeholder="<%= price %>">
          <label class="collect-label">URL</label>
          <input class="collect-input" name="url" type="text" placeholder="<%= url %>">
          <label class="collect-label">IMG</label>
          <input class="collect-input" name="img" type="text" placeholder="<%= img %>">
          <input class="collect-submit" type="submit" value="update">
          <button class="collect-delete">delete</button>
          <button class="collect-close">&times;</button>
        </form>